{% extends 'base.html' %}

    {% block container %}

    <section class="jumbotron text-center mt-4">
      <h1 class="display-4">{{ title }}</h1>
      <p class="lead">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for ind,tour in tours.items() %}
      <div class="col-4">
        <div class="card mb-4">
          <div class="embed-responsive embed-responsive-16by9">
             <img class="card-img-top embed-responsive-item" src="{{ tour.picture }}" alt="Здесь должно быть фото отеля" />
          </div>
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }}</h2>
            <p class="card-text">{{ tour.description|truncate(100) }}</p>
            <a href="/tours/{{ ind }}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {% endblock %}